html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: white;
}

.header-icon {
  /* background-color: #000000; */
  color: gray !important;
  font-size: 18px;
}

.header-icon:hover {
  /* background-color: #000000; */
  color: #000000 !important;
}

.navLinks {
  border: none !important;
  outline: none;
  text-decoration: none;
}

.navLinks :hover {
  color: #7971ea !important;
  border: white !important;
  outline: none;
  /* border-style: none; */
}

.banner-top {
  background: url('./images/hero_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(0px);
}
